---
layout: base.njk
---
<nav><a href="/">← Home</a></nav>

<article style="max-width:80ch">
<header>
<small>Paul Campbell • {{ page.date | longDate }}</small>
<h1>{{ title }}</h1>
</header>

{{ content | safe }}
</article>
